$color-primary-ultra-light: #FCF6F2;
$color-primary-light: #DFC0A5;
$color-primary-dark: #825A3A;

$color-white: #FFFFFF;
$color-grey: #F3EEEA;

$color-green: #059735;

$margin-bottom-medium: 2.5rem;
$margin-bottom-small: 1.5rem;

$padding-extra-small: 1.25rem;
