<div class="rendez-vous">
    <div class="rendez-vous__img" style="background-image: url({{ asset('build/img/' ~ element.img) }})"></div>
    <div class="rendez-vous__texts">
        <p class="rendez-vous__texts-date">{{ element.date }}</p>
        <h3 class="rendez-vous__texts-title">{{ element.title }}</h3>
        <p class="rendez-vous__texts-text">{{ element.text }}</p>
        <div><a href="/" class="btn btn-light">En savoir +</a></div>
    </div>
</div>
