{% extends 'admin/index.html.twig' %}

{% block adminContent %}
    <h2 class="title">Créer un article lié à la nourriture</h2>

    {% include 'admin/_layouts/food-article-form.html.twig' %}
{% endblock %}
