{% extends 'admin/index.html.twig' %}

{% block adminContent %}
    <h2 class="title">Éditer un accompagnement en présentiel</h2>

    {% include 'admin/_layouts/presential-accompaniment-form.html.twig' %}
{% endblock %}
