<footer>
    <div class="footer">
        <div class="footer--top"></div>
        <div class="footer--bottom">
            <a href="/">mentions légales</a>
            <div class="copyright">© 2021 - By Richard & Lsee.</div>
        </div>
    </div>
</footer>
