<div class="header">
    <div class="header--top">
        <div>Language : <span>Français</span></div>
        <a
            href="{{ path('app_login') }}"
            id="connexion"
            {% if app.user %}
                class="connected"
            {% endif %}
        >
            Connexion
        </a>
    </div>
    <div class="header--middle">
        <img class="header--logo" src="{{ asset('build/img/lotus-flower.svg') }}">
        <h1>Femme et Conscience<span><em>Vivez la Puissance du Féminin en vous !</em></span></h1>
    </div>
    <div class="header--navbar">
        {% include "_layouts/navbar.html.twig" %}
    </div>
</div>
