<div class="header">
    <div class="header--top">
        <div>Language : <span>Français</span></div>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}">Gestion</a>
        {% endif %}
            <a
                href="{{ path('account_base') }}"
                id="connexion"
                class="connected"
            >
                Mon compte
            </a>
    {% else %}
        <a
            href="{{ path('app_login') }}"
            id="connexion"
        >
            Connexion
        </a>
    {% endif %}
    </div>
    <div class="header--middle">
        <img class="header--logo" src="{{ asset('build/img/lotus-flower.svg') }}">
        <h1>Femme et Conscience<span><em>Vivez la Puissance du Féminin en vous !</em></span></h1>
    </div>
    <div class="header--navbar">
        {% include "_layouts/navbar.html.twig" %}
    </div>
</div>
