{% extends 'admin/index.html.twig' %}

{% block adminContent %}
    <h2 class="title">Créer une formation à distance</h2>

    {% include 'admin/_layouts/distance-learning-form.html.twig' %}
{% endblock %}
